:root {
	--color0	: #180426;
	--color1	: #18041A;
	--color2	: #010101;
	--color3	: #090909;
	--color4	: #010B8B;
	--color5	: #010B9C;
	--color6	: #999999;
	--color7	: #67ff83;
	--color8	: #67ff83;

	--bradius	: 15px;
	--contentpad	: 25px;
	--textpad	: 50px;
	--bodywidth	: 1000px;
}

body { 
	background	: var(--color1);
	color		: var(--color6);
	max-width	: var(--bodywidth);
	margin-right	: auto;
	margin-left	: auto;
}

hr {
	display		: block;
	height		: 1px;
	border		: 0;
	border-top	: 1px solid var(--color6);
	margin		: 1em 0;
	padding		: 0;
}

h1 { 
	text-align	: center;
	padding-bottom	: 50px;
	padding-top	: 30px;
	color		: var(--color7);
}
h2, h3, h4 { text-align: center; }

p { color: var(--color6);}

.topnav {
	background	: var(--color2);
	border		: 2px solid var(--color2);
	border-radius	: var(--bradius);
	text-align	: center;
}

.topnav a{
	border		: 1px solid var(--color5);
	background	: var(--color3);
	border-radius	: 2px;
	margin-left	: 1em;
	margin-right	: 1em;
	padding-left	: 1em;
	padding-right	: 1em;
}

.content {
	padding-top	: 50px;
	padding-bottom	: 50px;
	padding-left	: var(--contentpad);
	padding-right	: var(--contentpad);
	padding-top	: calc(var(--contentpad));
	padding-bottom	: var(--contentpad);
	border-radius	: var(--bradius);
	background-color: var(--color0);
}

.even, .odd  {
	min-height	: 225px;
	display		: block;
	width		: auto;
	height		: auto;
	background-color: var(--color3);
	border-radius	: var(--bradius);
	padding-left	: var(--textpad); 
	padding-right	: var(--textpad); 
	padding-top	: 1em;
	padding-bottom	: var(--textpad); 
	margin-bottom	: var(--textpad);
}

.pic {
	display 	: block;
	min-width	: 200px;
	max-height	: 225px;
	max-width	: 50%;
	margin-left	: auto;
	margin-right	: auto;
	align 		: center;
	text-align	: center;
	float		: left;
	padding 	: 0.5em;
	padding-top 	: 2em;
}

.par{
	text-align	: justify;
	min-width 	: 10em;
	max-width	: 500px;
	font-size	: auto;
}


table, td {
	padding-right: 0em;
}
